.container {
    margin: 0px;
    max-width: 100%;
}

#pictures {
    position: relative;
    width: 100%;
}

.col-sm-6 {
    padding: 0px;
}

.categorie {
    background-color: #EAD680;
}

.categorie2 {
    background-color: #94BCB4;
}

#h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}