{% include "@SyliusShop/_header.html.twig" %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<body style="background-image:url({{asset('img/arthur.jpg')}});">
    <section class="contact">
        <h1>Contactez-nous</h1>
            {{ form_start(formContact) }}

                {{ form_row(formContact.lastName, {"label": "Nom", 'attr': {'placeholder': "Nom", 'required': "Nom non valide"}}) }}
                {{ form_row(formContact.firstName, {"label": "Prénom", 'attr': {'placeholder': "Prénom"}}) }}
                {{ form_row(formContact.mailAdress, {"label": "Adresse email", 'attr': {'placeholder': "Adresse email"}}) }}
                {{ form_row(formContact.phoneNumber, {"label": "Numéro de téléphone", 'attr': {'placeholder': "Numéro de téléphone"}}) }}
                {{ form_row(formContact.content, {"label": "Contenu", 'attr': {'placeholder': "Contenu du message"}}) }}

                <button type="submit" class="btn btn-primary btn-succes">Envoyé</button>
            {{ form_end(formContact) }}
    </section>
</body>
{% endblock %}
