{% include "@SyliusShop/_header.html.twig" %}

{# {% block title %}Photobook{% endblock %} #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/main.css')}}">
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-6 categorie">
        <h3 id="h3">categorie 1</h3>    
    </div>
        <div class="col-sm-6">
            <img id="pictures" src="/assets/img/categorie1/{{img1}}" alt="dfd"><a href="{{ path('categorie1') }}" ><input type="button" class="btn btn-primary" value="Voir plus"
            style="
                    z-index: 2;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); 
                ">
            </input></a>
        </div>

    <div class="col-sm-6">
        <img id="pictures" src="/assets/img/categorie2/{{img2}}" alt="dfd"><a href="{{ path('categorie2') }}"><input type="button" class="btn btn-primary" value="Voir plus"
        style="
                z-index: 2;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); 
            ">
        </input></a>
    </div>
        <div class="col-sm-6 categorie2">
            <h3 id="h3">categorie 2</h3>    
        </div>

    <div class="col-sm-6 categorie">
        <h3 id="h3">categorie 3</h3>    
    </div>
        <div class="col-sm-6">
            <img id="pictures" src="/assets/img/categorie3/{{img3}}" alt="dfd"><a href="{{ path('categorie3') }}" target="_blank"><input type="button" class="btn btn-primary" value="Voir plus"
            style="
                    z-index: 2;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); 
                ">
            </input></a>
        </div>

        {# <div class="col-sm-6">
        <img id="pictures" src="/assets/img/categorie1/{{img}}" alt="dfd"><a href="{{ path('categorie4') }}"><input type="button" class="btn btn-primary" value="Voir plus"
        style="
                z-index: 2;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); 
            ">
        </input></a>
    </div>
        <div class="col-sm-6 categorie2">
            <h3 id="h3">categorie 4</h3>    
        </div> #}
</div>
{% endblock %}